.hero {
    position: relative;
    padding-top: 80px;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 106px;
    z-index: -1;
    width: 100%;
    height: 48px;
    background: url("../images/decor-large-icon.svg") repeat-x;
}

.hero__container {
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero__info {
    max-width: 492px;
}
.hero__title {
    margin-bottom: 40px;
    max-width: 492px;
    font-size: 62px;
}

.hero__accent {
    color: #3596ed;
}

.hero__text {
    margin-bottom: 140px;
    max-width: 440px;
}

.button {
    display: inline-block;
    padding: 19px 32px;
    width: 270px;
    height: 57px;
    background-color: #3596ed;
    color: #fff;
    transition: opacity 0.2s;
}

.button:hover {
    opacity: 0.85;
}

.hero__images {
    display: flex;
    position: relative;
}

.hero__choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 161px;
    padding: 22px;
    background: rgb(255 255 255 / 0.9);
    border: 1px solid #535755;
    text-align: center;
}

.news__title {
    margin-bottom: 40px;
}

.news__articles {
    display: flex;
    gap: 28px;
}

.news__article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news__article-image {
    display: block;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__date {
    display: inline-block;
    margin-bottom: 8px;
}

.news__text {
    color: #2c332f;
}

.news__footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news__link::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url("../images/arrow-right-icon.svg");
    transition: transform 0.2s;
}

.news__link:hover::after {
    transform: translateX(5px);
}

.faq {
    position: relative;
}

.faq::before {
    content: "";
    position: absolute;
    top: 215px;
    z-index: -1;
    width: calc(50% - 250px);
    height: 48px;
    background: url("../images/decor-large-icon.svg") repeat-x;
}

.faq__wrap {
    display: flex;
    gap: 28px;
}

.faq__item {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

.faq__item[open] .faq__question::after {
    transform: rotate(180deg);
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.faq__question::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url("../images/arrow-down-icon.svg") no-repeat center / cover;
}

.faq__question::-webkit-details-marker {
    display: none;
}

.faq__answer {
    padding: 0 20px 20px;
}

@media (width <= 1440px) {
    .hero__images img {
        width: 50%;
    }
}

@media (width <= 992px) {
    .hero::after {
        display: none;
    }

    .hero__container {
        flex-direction: column;
        align-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__title {
        margin-bottom: 30px;
        font-size: 52px;
    }

    .hero__info .text {
        max-width: inherit;
        margin-bottom: 30px;
    }

    .news__title {
        text-align: center;
    }
    .news__articles {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .news__article {
        flex-basis: 50%;
        max-width: 350px;
    }

    .news__article-image {
        width: 100%;
    }

    .faq::before {
        display: none;
    }

    .faq__title {
        text-align: center;
    }

    .faq__wrap {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (width <= 768px) {
    .hero__title {
        max-width: inherit;
        text-align: center;
    }

    .hero__title {
        font-size: 50px;
    }

    .news__article {
        flex-basis: 100%;
        max-width: 400px;
    }
}

@media (width <= 576px) {
    .hero {
        padding-top: 60px;
    }

    .hero__info {
        max-width: 410px;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__choose {
        max-width: 125px;
        padding: 10px;
        font-size: 14px;
    }
}
